<h1>New game</h1>
<% @letters.each do |letter| %>
<%= letter %>
<% end %>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <input type="text" name="suggestion" placeholder="type your suggestion" id="input">
  <input type="submit" value="Play" id="play">
  <input type="hidden" value="<%=@start_time%>" name="start">
  <input type="hidden" value="<%=@letters%>" name="letters">
  <%# <input id="tags_list" name="tags_list" type="hidden"> %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<%= @start_time %>
